#container #result {
	color: #d1edf8;
	background-color: #0f192a;
	font-family: "Monaco";
}

.ybtycss {
	color: #ffa532;
}

.ybfcss {
	color: #ffaa35;
}

.ybkwcss {
	color: #b43731;
}

.comments {
	color: #428bd1;
}