#container #result {
	color: #eee;
	font-family: "Monaco";
	background-color: #0a2b1d;
}

.ybtycss {
	color: #9df39f;
}

.ybfcss {
	color: #8dc627;
}

.ybkwcss {
	color: #f8aa3e;
}

.comments {
	color: #2f5529;
}