#container #result {
	color: #000;
	background-color: #fff;
	font-family: "Monaco";
}

.ybtycss {
	color: #aa7757;
}

.ybfcss {
	color: #ff1493;
}

.ybkwcss {
	color: #7f0074;
}

.comments {
	color: #3f5fc1;
}